# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.db
*.sqlite3

# Flutter
flutter_app/.dart_tool/
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/.packages
flutter_app/build/
flutter_app/.pub-cache/
flutter_app/.pub/
flutter_app/pubspec.lock

# IDE
.idea/
.vscode/
*.iml
*.ipr

# OS
.DS_Store
Thumbs.db
